<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/index.css?v=2" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      window.DATA = JSON.parse("{{.Lifts}}");
    </script>

    <script type="module">
      import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

      d3.scaleLinear()
        .domain([0, d3.max(window.DATA)])
        .range([0, 100]);

      const holder = d3.select(".frame");
      holder
        .selectAll(".lift")
        .data(window.DATA)
        .join("div")
        .attr("class", "lift")
        .each(function (d) {
          const weights = d.History.map((h) => h.RepMax);

          const height = d3
            .scaleLinear()
            .domain(d3.extent(weights))
            .range([20, 100]);

          const container = d3.select(this);

          container.on("mouseleave", function (ev, frame) {
            setText.text(d.BestSet.SetText);
            container
              .select(".lift-date")
              .transition()
              .duration(200)
              .style("opacity", 0);
          });

          container.append("h3").text(d.Name);
          const setText = container.append("p").text(d.BestSet.SetText);

          container
            .append("div")
            .attr("class", "graph")
            .selectAll(".bar")
            .data(d.History)
            .join("div")
            .attr("class", "bar")
            .style("height", (d) => `${height(d.RepMax)}px`)
            .on("mouseover", function (ev, frame) {
              setText.text(frame.SetText);

              container.select(".lift-date").style("opacity", 1);
              container.select(".lift-date").text(
                new Date(frame.Date).toLocaleDateString(undefined, {
                  month: "2-digit",
                  day: "2-digit",
                  year: "2-digit",
                })
              );
            });

          container.append("p").attr("class", "lift-date");
        });
    </script>
  </head>
  <body>
    <div class="frame"></div>
  </body>
</html>
